*/__pycache__
*/.idea
**/*.tex
.idea/
tests/__pycache__
/build
/release
TaskData/periodic-set-*
TaskData/*/periodic-set-*
TaskData/dagTasks/*
TaskData/*/dag-set*
CompareWithBaseline/data_buffer_energy_task_number.txt
CompareWithBaseline/time_task_number.txt
Visualize/currGraph.gv.pdf
Visualize/currGraph.gv
.vscode
.editorconfig
CompareWithBaseline_deprecated/
**/Initial_Res
**/NLP_Res
**/OrderOpt_Res
**/OrderOptWithoutScheudleOpt_Res
**/Verucchi_Res
**/dagTasks
*/currGraph.gv.pdf
*/currGraph.gv
